.copy-to-clipboard-container {
  margin-top: 30px;
  margin-bottom: 30px;

  .clipboard-input {
    padding: 10px 15px;
    font-size: 20px;
    border: 2px solid #5d3587;
    border-radius: 5px;
    background-color: transparent;
    color: #5d3587;
    font-weight: bold;
    margin-right: 20px;
    outline: none;
  }

  .copy-btn {
    padding: 12px 18px;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    background: linear-gradient(45deg, #5d3587, #8e44ad);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: 1px solid #5d3587;
    transition: 0.5s;
  }

  .copy-btn:hover {
    background: linear-gradient(45deg, #8e44ad, #5d3587);
  }

  .copied-text {
    font-size: 20px;
  }
}
