.main-container {
  width: 100vw;

  .homepage-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    height: 100vh;
    background: linear-gradient(135deg, #fc5072, #d9fc86, #6acffe);

    .box {
      width: 80%;
      min-height: 90%;
      background: #ffffff1a;
      border-radius: 10px;
      text-align: center;
      padding: 16px 8px;
      backdrop-filter: blur(5px);
      box-shadow: 0 25px 45px #0000001a;
      border: 1px solid #ffffff80;
      border-right: 1px solid #ffffff33;
      border-bottom: 1px solid #ffffff33;
      color: #5d3587;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
      display: flex;
      flex-direction: column;

      .square {
        position: absolute;
        backdrop-filter: blur(5px);
        box-shadow: 0 25px 45px #0000001a;
        border: 1px solid #ffffff80;
        border-right: 1px solid #ffffff33;
        border-bottom: 1px solid #ffffff33;
        background: #ffffff1a;
        border-radius: 10px;
        animation: moving-squares 6s linear infinite;
      }

      .square:nth-child(1) {
        top: -50px;
        right: -60px;
        width: 100px;
        height: 100px;
      }

      .square:nth-child(2) {
        top: 150px;
        left: -100px;
        width: 120px;
        height: 120px;
        z-index: 50;
      }

      .square:nth-child(3) {
        bottom: 50px;
        right: -60px;
        width: 80px;
        height: 80px;
        z-index: 50;
      }

      .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-shadow: none;

        .questions-container {
          padding: 20px 10px;
          border: 1px solid #5d3587;
          border-radius: 10px;
          width: 90%;
          margin-top: 20px;

          .question {
            font-size: 18px;
            margin-bottom: 20px;
          }

          .options-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            width: 80%;
            margin: auto;
            justify-content: center;

            .option-container {
              .option {
                display: none;
              }

              .option-label {
                color: #5d3587;
                font-size: 18px;
                border: 2px solid #5d3587;
                border-radius: 5px;
                padding: 10px;
                cursor: pointer;
                display: flex;
                align-items: center;
              }

              .option-label:before {
                content: '';
                display: inline-block;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                border: 3px solid #5d3587;
                margin-right: 20px;
              }

              .option:checked + label {
                background-color: #5d3587;
                color: white;
              }

              .option:checked + label:before {
                height: 16px;
                width: 16px;
                border: 3px solid white;
                background-color: #5d3587;
              }
            }
          }
        }
      }

      .fun-fact {
        margin-top: 40px;
        font-size: 18px;
        width: 90%;
        align-self: center;
        animation: zoomInOut 3s infinite ease-in-out;
      }
    }
  }
}

@keyframes moving-squares {
  0%,
  100% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(30px);
  }
}

@keyframes zoomInOut {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.06);
  } /* Zoom In */
  100% {
    transform: scale(1);
  } /* Zoom Out */
}
